<form action="/checkout" method="post">
  <label>Type data here: </label>
  <input type="text" name="data[type1]">
  <label>Type another data here: </label>
  <input type="text" name="data[type2]">
</form>
